.weather-icon {
  width: 100%;
  max-width: 170px;
  object-fit: contain;
}
.weather-description {
  margin: 1rem 0;
  color: #4b4539;
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}
