h2 {
  margin: 1rem 0;
  color: #4b4539;
  font-size: 2rem;
  font-weight: 500;
}
.temp-list {
  max-width: 350px;
  margin: 0 auto;
  padding: 0 1rem;
  list-style: none;
}
.temp-list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.temp-list-item:not(:first-child) {
  border-top: 1px solid #4b4539;
}
.week-day,
.week-temp {
  color: #4b4539;
  font-size: 1.1rem;
  font-weight: 500;
}
.week-icon {
  width: 40px;
}
@media (min-width: 768px) {
  .temp-list {
    max-width: 200px;
  }
}
