.side-app {
  text-align: center;
  background-color: white;
  padding: 1rem;
  margin-bottom: 1rem;
}

.weather-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  max-width: 450px;
  margin: auto;
}

@media (min-width: 768px) {
  .side-app {
    flex: 1 1 30%;
  }
}
